<header class="site-header">
  <a class="brand" href="hem.html#hem" aria-label="Stenungsunds Schackklubb startsida">
    <img src="../assets/images/ssk.svg" alt="" class="brand-logo" />
    <span class="brand-text">Stenungsunds Schackklubb</span>
  </a>
  <nav class="site-nav" aria-label="Huvudmeny">
    <a href="hem.html#hem">Hem</a>
    <a href="verksamhet.html">Verksamhet</a>
    <a href="nyheter.html">Nyheter</a>
    <a href="styrelsen.html">Styrelsen</a>
    <a href="hem.html#kontakt">Kontakt</a>
  </nav>
</header>